<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Approval">
	<!-- 결재 문서 저장 -->
	<insert id="insertApproval" parameterType="com.workly.final_project.approval.model.vo.Approval"
	    useGeneratedKeys="true" keyProperty="approvalNo" keyColumn="APPROVAL_NO">
	    INSERT INTO APPROVAL (APPROVAL_NO, USER_NO, APPROVAL_TYPE, APPROVAL_STATUS, APPROVAL_TITLE, APPROVAL_CONTENT, START_DATE, APPROVAL_USER)
	    VALUES (APPROVAL_SEQ.NEXTVAL, #{userNo}, #{approvalType}, 1, #{approvalTitle}, #{approvalContent}, SYSDATE, #{approvalUser})
	</insert>
	
  <select id="getAllApprovals" resultType="Approval">
	  SELECT 
        APPROVAL_NO as approvalNo,
        USER_NO as userNo,
        APPROVAL_TYPE as approvalType,
        APPROVAL_STATUS as approvalStatus,
        APPROVAL_TITLE as approvalTitle,
        APPROVAL_CONTENT as approvalContent,
        START_DATE as startDate,
        END_DATE as endDate,
        APPROVAL_USER as approvalUser,
        CREATED_AT as createdAt
    FROM APPROVAL
    ORDER BY CREATED_AT DESC
	</select>
	
	<select id="getDepartmentsWithEmployees" resultType="map">
		SELECT
			POSITION_NAME,
			DEPT_NAME,
			USER_NAME,
			USER_NO
		FROM MEMBER
		JOIN DEPARTMENT USING(DEPT_NO)
		JOIN POSITION USING(POSITION_NO)
		ORDER BY DEPT_NAME, USER_NAME
	</select>
	
	<select id="getApprovalData" resultType="Approval">
		SELECT
			USER_NO,
			APPROVAL_NO,
			APPROVAL_TYPE,
			APPROVAL_STATUS,
			APPROVAL_TITLE,
			APPROVAL_CONTENT,
			START_DATE,
			APPROVAL_USER
		FROM APPROVAL
		WHERE APPROVAL_NO = #{approvalNo}
	</select>
	
	<select id="getApprovalLine" resultType="ApprovalLine">
		SELECT
		    A.APPROVAL_LEVEL,
		    A.APPROVAL_NO,
		    A.USER_NO,
		    A.TYPE,
		    A.STATUS,
		    A.CONFIRM_STATUS,
		    A.APPROVAL_DATE,
		    A.APPROVAL_LINE_TYPE,
        	M.USER_NAME AS userName,
        	D.DEPT_NAME AS deptName,
        	P.POSITION_NAME AS positionName   
		FROM APPROVAL_LINE A
		JOIN MEMBER M ON A.USER_NO = M.USER_NO
		JOIN DEPARTMENT D ON M.DEPT_NO = D.DEPT_NO 
		JOIN POSITION P ON M.POSITION_NO = P.POSITION_NO  
		WHERE A.APPROVAL_NO = #{approvalNo}
	</select>
	
	<select id="getApprovalAttachmentByApprovalNo" resultType="ApprovalAttachment">
		SELECT
			FILE_NO,
			APPROVAL_NO,
			REF_NO,
			ORIGIN_NAME,
			FILE_DATA
		FROM APPROVAL_ATTACHMENT
		WHERE APPROVAL_NO = #{approvalNo}
	</select>
	
	<select id="getApprovalMemo" resultType="map">
		SELECT
			D.DEPT_NAME,
			P.POSITION_NAME,
			M.USER_NAME,
			A.USER_NO,
			A.MEMO_NO,
			A.MEMO_CONTENT,
			A.MEMO_DATE
		FROM APPROVAL_MEMO A
		JOIN MEMBER M ON A.USER_NO = M.USER_NO
		JOIN DEPARTMENT D ON M.DEPT_NO = D.DEPT_NO 
		JOIN POSITION P ON M.POSITION_NO = P.POSITION_NO 
		WHERE A.APPROVAL_NO = #{approvalNo}	
	</select>
	
	<select id="getApprovalWriteUser" resultType="Approval">
		SELECT
			USER_NAME
		FROM APPROVAL A
		JOIN MEMBER M ON A.USER_NO = M.USER_NO
		WHERE A.APPROVAL_NO = #{approvalNo}
	</select>
</mapper>










