<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ApprovalLine">
		<insert id="saveApprovalLine">
		    INSERT ALL
		    <foreach collection="list" item="line">
		        INTO APPROVAL_LINE (APPROVAL_LEVEL, APPROVAL_NO, USER_NO, TYPE, STATUS, CONFIRM_STATUS, APPROVAL_DATE, APPROVAL_LINE_TYPE)
		        VALUES (#{line.approvalLevel}, #{line.approvalNo}, #{line.userNo}, #{line.type}, DEFAULT, DEFAULT, SYSDATE, #{line.approvalLineType})
		    </foreach>
		    SELECT 1 FROM DUAL
		</insert>

		
		<!-- 진행 중 결재 문서 조회 쿼리 -->
		<select id="getInProgressApprovals" resultType="ApprovalLine">
		    SELECT al.APPROVAL_NO, al.USER_NO, al.TYPE, al.APPROVAL_LEVEL, a.APPROVAL_TITLE, a.APPROVAL_DATE, al.STATUS
		    FROM APPROVAL_LINE al
		    JOIN APPROVAL a ON al.APPROVAL_NO = a.APPROVAL_NO
		    WHERE al.USER_NO = #{userNo}
		      AND al.STATUS = 1
		      AND al.TYPE = '결재자'
		</select>



</mapper>










