@charset "UTF-8";
body {
  font-family: 'nanumsquare', 'nanumsquare';
}

@font-face {
  font-family: 'nanumsquare';
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css') format('woff');
  font-weight: normal;
  font-style: normal;
}





