@charset "UTF-8";

@font-face {
  font-family: 'NanumSquare';
  src: url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/NanumSquareR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 모든 요소에 폰트 적용 */
* {
  font-family: 'NanumSquare', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainpageContainer {
  display: flex;
  width: 100%;
  height: 100vh;
}

.componentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.componentContainer1 {
  display: column;
  padding: 30px 50px;
}