<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<select id="loginMember" resultType="member">
		SELECT *
		FROM MEMBER
		WHERE 
			USER_NO = #{userNo} AND
			USER_PWD = #{userPwd} AND
			STATUS = 'Y'
	</select>
	
	<select id="selectMemberList" resultType="member">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
		        FROM (SELECT *
		              FROM MEMBER
		              ORDER BY DEPT_NO) A)
		WHERE RNUM BETWEEN #{startRow} AND #{endRow} 
	</select>
	
	<resultMap id="memberMap" type="member">
	</resultMap>
</mapper>