.container {
    display: flex;
    width: 70%;
    padding: 20px 0px;
    margin: auto;
    margin-top: 20px;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}

.profileImage {
    width: 150px;
    height: 180px;
}

.changeProfile {
    width: 150px;
    height: 40px;
    font-size: 12px;
    margin-top: 10px;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    color: #848484;
}

.inputProfile {
    display: none;
}

.formContainer {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 20px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.label {
    width: 100px;
    text-align: right;
    font-weight: bold;
}

.input {
    flex: 1;
    padding: 12px;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    background: #F5F6FA;
}

.pwInput {
    font-family: sans-serif;
}

.submitButton {
    width: 70px;
    height: 40px;
    padding: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

/* 모든 브라우저 input type number 태그 숫자 증감버튼 지우기 */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}